.header {
    margin-top: 1rem;
    padding: 4rem 0;
    text-align: center;
    background: url(../images/pattern-circles.svg) center center no-repeat;

    @media screen and (min-width: #{map-get($breakpoints, sm)}) {
        margin-top: 2rem;
    }
}

.header__heading {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: .5rem;
    color: var(--dark-desaturated-blue);

    @media screen and (min-width: #{map-get($breakpoints, sm)}) {
        font-size: 1.9rem;
    }
}
.header__lead {
    width: 14rem;
    margin: 0 auto;

    @media screen and (min-width: #{map-get($breakpoints, sm)}) {
        width: auto;
    }
}